<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<div th:replace="fragments/header :: header-css"/>-->
</head>
<body>
<!--<div th:replace="fragments/header :: header"/>-->
<form class="toto" action="#" th:action="@{/genre/add}" th:object="${genre}" enctype="multipart/form-data" method="post">
    <input type="hidden" th:field="*{id}"/>
    <p>Nom : <input type="text" th:field="*{name}"/></p>
    <!--<p>Nom : <input type="text" th:field="*{surname}"/></p>-->
    <!--<p>Annee de naissance : <input type="text" th:field="*{birthYear}"/></p>-->
    <!--<p>Photo : <input type="file" name="photo"/> <span th:text="*{imagePath}">Fichier photo</span></p>-->
    <input type="submit" value="Valider" />
</form>

<!--<div th:replace="fragments/footer :: footer"/>-->
</body>
</html>