<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a class="btn btn-primary btn-lg button-add" th:href="@{'/genre/add'}" role="button">Ajouter un genre</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Nom</th>
        </tr>
        <tr th:each="genre: ${genres}">
            <td th:text="${genre.id}">Id</td>
            <td th:text="${genre.name}">nom</td>
            <!--<td th:text="${person.givenname}">prenom</td>-->
            <!--<td th:text="${person.birthYear}">naissance</td>-->
            <!--<td th:text="${person.imagePath}">photoPath</td>-->
            <!--<td><span th:utext="${person.surname}"></span> <a href="#" th:href="@{'/person/detail/'+${person.id}}">detail</a> </td>-->
            <td><a href="#" th:href="@{'/genre/mod/'+${genre.id}}" class="edit"><i class="material-icons">edit</i></a> </td>
            <td><a th:href="'/genre/delete/'+${genre.id}"  onClick="javascript:return confirm('Voulez-vous vraiment supprimer cet élément ?')">delete</a></td> </td>
            <!--<td><a href="#" th:href="@{'/person/detail/'+${person.id}}" class="btn btn-info">detail</a> </td>-->
        </tr>
    </table>
    <!--<table>-->


    <!--<tr th:each="genre: ${genres}">-->
        <!--<td><span th:utext="${genre.name}"></span></td>-->
        <!--&lt;!&ndash;<td><a href="#" th:href="@{'/film/list/'+${genre.id}}">detail</a></td>&ndash;&gt;-->
    <!--</tr>-->
<!--</table>-->


<a th:href="@{'/'}">Retour</a>
</body>
</html>