<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Détail</h1>
<h2>Titre : <span th:text="${film.title}"></span></h2>
<h2>Note : <span th:text="${film.rating}"></span></h2>
<!--<h2>Affiche : <span th:text="${film.imagePath}"></span></h2>-->
<h2>Resumé:<span th:text="${film.getSummary()}"></span> </h2>
<h2>Réalisateur:<span th:text="${film.director.surname+' '+film.director.givenname}"></span> </h2>
<!--<h2>Genres:<span th:each="genre: ${film.genres}" th:text="${genre.name}"></span> </h2>-->
<h3 class="shadock">Genre(s) : <span th:each="genre : ${film.genres}" th:text="${genre.name+' '}"></span></h3>
<h3>Avec : <span th:each="role : ${film.roles}" >
    <a href="#" th:href="@{'/person/detail/'+${role.actor.id}}"><span th:text="${role.actor.givenname+' '+role.actor.surname}"></span></a>
</span></h3>
<img  th:src="'/film/affiche/'+${film.imagePath}"height="300" width="300" />
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title th:text="${film.title}">Title</title>-->
    <!--<div th:replace="fragments/header :: header-css"/>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="fragments/header :: header"/>-->
<!--<div class="corps">-->
    <!--<h1 th:text="${film.title}">Titre du film</h1>-->
    <!--<img class="afficheFilm" th:src="'/film/affiches/'+${film.imagePath}">-->
    <!--<h6 th:text="'Note : '+${film.rating}">Note</h6>-->
    <!--<h6 th:text="'Résumé : '+${film.summary}">Resumé</h6>-->
    <!--<h6 th:text="'Date de sortie : '+${#temporals.format(film.releaseDate, 'dd-MM-yyyy')}">Date de sortie</h6>-->
    <!--<h6 th:text="'Realisateur : '+${film.director.surname}+' '+${film.director.givenname}">Realisateur</h6>-->
    <!--<h6 th:text="'Genres : '">Genres</h6>-->
    <!--<span th:each="genre : ${film.getGenres()}" th:text="${genre.name}+', '">Genres</span>-->

    <!--<h6 th:text="'Acteurs :'"></h6>-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-4 col-md-4 col-sm-6 col-12" th:each="role : ${film.getRoles()}">-->
                <!--<a th:href="@{/person/detail/{Id} (Id=${role.getActor().getId()})}">-->
                    <!--<img class="posterPersonneInFilmView"-->
                         <!--th:src="'/person/posters/'+${role.getActor().getImagePath()}"></a>-->
                <!--<br/>-->
                <!--<a th:text="${role.getActor().getSurname()}+' '+${role.getActor().getGivenname()}+' dans le rôle de : '+${role.getName()}"-->
                   <!--th:href="@{/person/detail/{Id} (Id=${role.getActor().getId()})}"></a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


<!--</div>-->
<!--<div th:replace="fragments/footer :: footer"/>-->
<!--</body>-->
<!--</html>-->
