<!--<!DOCTYPE html>-->
<!--<html lang="fr"-->
      <!--xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <!--&lt;!&ndash;<div th:replace="fragments/header :: header-css"/>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<div th:replace="fragments/header :: header"/>&ndash;&gt;-->
<!--<form class="toto" action="#" th:action="@{/role/add}" th:object="${role}" enctype="multipart/form-data" method="post">-->
    <!--<input type="hidden" th:field="*{id}"/>-->
    <!--<input type="hidden" th:field="*{film.id}"/>-->
    <!--<table border="1px" style="width:70%">-->
        <!--<tr ><td colspan="2" th:text="'Role : '+${role.getId()}+' '+ 'son rang : '+${role.getRank()}"></td></tr>-->

    <!--</table>-->
    <!--<p>titre: <select>-->
        <!--<option th:each="film : ${films}" th:value="${film.getId()}" th:text="${film.getTitle()}">-->
    <!--</select></p>-->
    <!--<p>Acteurs: <select>-->
        <!--<option th:each="person : ${persons}" th:value="${person.id}" th:text="${person.getSurname()}">-->
    <!--</select></p>-->
   <!--<input type="hidden" th:field="*{actor.id}"/>-->

    <!--<p>Nom : <input type="text" th:field="*{name}"/></p>-->
    <!--<p>rang : <input type="text"  th:field="*{rank}"/></p>-->

    <!--&lt;!&ndash;<p>Nom : <input type="text" th:field="*{surname}"/></p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Annee de naissance : <input type="text" th:field="*{birthYear}"/></p>&ndash;&gt;-->
    <!--&lt;!&ndash;<p>Photo : <input type="file" name="photo"/> <span th:text="*{imagePath}">Fichier photo</span></p>&ndash;&gt;-->
    <!--<input type="submit" value="Valider" />-->
<!--</form>-->

<!--&lt;!&ndash;<div th:replace="fragments/footer :: footer"/>&ndash;&gt;-->



<!--</body>-->
<!--</html>-->



<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editer un rôle</title>
    <!--<div th:replace="fragments/header :: header-css"/>-->
</head>
<body>
<!--<div th:replace="fragments/header :: header"/>-->
<div class="corps">
    <h1>Editer un rôle:</h1>

    <form action="#" th:action="@{/role/add}" th:object="${role}" method="post">
        <input type="hidden" th:field="${role.id}"/>
        <div class="form-group row">
            <label th:for="roleName" class="col-sm-2 col-form-label">Nom du rôle</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="${role.name}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="persons" class="col-sm-2 col-form-label">Acteur</label>
            <div class="col-sm-10">
                <input list="persons" class="form-control" id="personsList" name="persons" th:field="${role.actor}">
                <datalist id="persons">
                    <option th:each="person : ${persons}" th:value="${person.id}" th:label="${person.givenname}"></option>
                </datalist>
            </div>
            </input>
        </div>
        <!--<div class="form-group row">-->
        <!--<label th:for="filmTitle" class="col-sm-2 col-form-label">Nom film</label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="text" class="form-control" th:id="filmTitle" th:name="filmTitle"-->
        <!--th:value="${role.film.titre}"/>-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-group row">
            <label th:for="films" class="col-sm-2 col-form-label">Film</label>
            <div class="col-sm-10">
                <input list="films" class="form-control" th:field="${role.film}">
                <datalist id="films">
                    <option th:each="film : ${films}" th:value="${film.id}" th:label="${film.title}"></option>
                </datalist>
            </div>
            </input>
        </div>
        <div class="form-group row">
            <label th:for="rank" class="col-sm-2 col-form-label">Rang</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="${role.rank}"/>
            </div>
        </div>
        <div class="button">
            <button type="submit" th:name="create" class="btn btn-primary">Editer un rôle</button>
        </div>
    </form>
</div>
<!--<div th:replace="fragments/footer :: footer"/>-->
</body>
</html>