<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a class="btn btn-primary btn-lg button-add" th:href="@{'/role/add'}" role="button">Ajouter un role</a>
<table>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Film</th>
        <th>Personnes</th>
        <th>rang</th>
    </tr>
    <tr th:each="role: ${roles}">
        <td th:text="${role.id}">Id</td>
        <td th:text="${role.name}">nom</td>
        <td th:text="${role.getFilm()}">nom film</td>
        <td th:text="${role.getActor().surname+' '+role.getActor().givenname}">peronnes</td>
        <td th:text="${role.rank}">peronnes</td>
        <!--<td th:text="${person.givenname}">prenom</td>-->
        <!--<td th:text="${person.birthYear}">naissance</td>-->
        <!--<td th:text="${person.imagePath}">photoPath</td>-->
        <!--<td><span th:utext="${person.surname}"></span> <a href="#" th:href="@{'/person/detail/'+${person.id}}">detail</a> </td>-->
        <td><a href="#" th:href="@{'/role/mod/'+${role.id}}" class="edit"><i class="material-icons">edit</i></a> </td>
        <td><a th:href="'/role/delete/'+${role.id}"  onClick="javascript:return confirm('Voulez-vous vraiment supprimer cet élément ?')">delete</a></td> </td>
        <!--<td><a href="#" th:href="@{'/person/detail/'+${person.id}}" class="btn btn-info">detail</a> </td>-->
    </tr>
</table>
<!--<table>-->


<!--<tr th:each="genre: ${genres}">-->
<!--<td><span th:utext="${genre.name}"></span></td>-->
<!--&lt;!&ndash;<td><a href="#" th:href="@{'/film/list/'+${genre.id}}">detail</a></td>&ndash;&gt;-->
<!--</tr>-->
<!--</table>-->


<a th:href="@{'/'}">Retour</a>
</body>
</html>