<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Détails</h1>
<h2><span th:text="${person.getGivenname()}">Paul</span> <span th:text="${person.getSurname()}"></span> </h2>
<h2>Année de naissance : <span th:text="${person.getBirthday()}">1890</span></h2>
<img  th:src="'/person/person/'+${person.imagePath}"height="300" width="300" />

</body>
</html>