<!--<!DOCTYPE html>-->
<!--<html lang="fr"-->
      <!--xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
    <!--&lt;!&ndash;<div th:replace="fragments/header :: header-css"/>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;²   &ndash;&gt;-->
<!--<form class="toto" action="#" th:action="@{/person/add}" th:object="${person}" enctype="multipart/form-data" method="post">-->
    <!--<input type="hidden" th:field="*{id}"/>-->
    <!--<input type="hidden" th:field="*{imagePath}"/>-->
    <!--<p>Prénom : <input type="text" th:field="*{givenname}"/></p>-->
    <!--<p>Nom : <input type="text" th:field="*{surname}"/></p>-->
    <!--<p>Annee de naissance : <input type="text" th:field="*{birthday}"/></p>-->
    <!--<p>Photo : <input type="file" name="photo"/> <span th:text="*{imagePath}">Fichier photo</span></p>-->
    <!--<input type="submit" value="Valider" />-->
<!--</form>-->

<!--&lt;!&ndash;<div th:replace="fragments/footer :: footer"/>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editer une personne</title>
    <!--<div th:replace="fragments/header :: header-css"/>-->
</head>
<body>
<!--<div th:replace="fragments/header :: header"/>-->
<div class="corps">
    <h1>Editer une personne :</h1>

    <form action="#" th:action="@{/person/add}" th:object="${person}" enctype="multipart/form-data" method="post">
        <input type="hidden" th:field="${person.id}"/>
        <input type="hidden" th:field="${person.imagePath}"/>
        <div class="form-group row">
            <label th:for="surname" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="${person.surname}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="givenname" class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="${person.givenname}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="birthday" class="col-sm-2 col-form-label">Date de naissance</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:field="${person.birthday}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="photo" class="col-sm-2 col-form-label">Ajouter une photo</label>
            <div class="col-sm-10">
                <input type="file" class="btn btn-secondary btn-sm" name="photo"/> <span th:text="${person.imagePath}">Fichier photo</span>
            </div>
        </div>
        <div class="button">
            <button type="submit" th:name="create" class="btn btn-primary">Editer une personne</button>
        </div>
    </form>
</div>
<!--<div th:replace="fragments/footer :: footer"/>-->
</body>
</html>