<!DOCTYPE html>
<html lang="fr"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>cinema</title>
    <div th:replace="fragments/header :: header-css"/>
   <!-- <link rel="stylesheet" th:href="@{../../css/cinema.css}" href="../../css/cinema.css"/>-->

</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><b>les acteurs</b></h2>
                </div>
                <div class="col-sm-6">
                    <a th:href="${'/person/add'}" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>Ajouter un acteur</span></a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>prenom</th>
                <th>naissance</th>
                <th>photoPath</th>
                <th>Action</th>

            </tr>
            <tr th:each="person: ${persons}">
                <td th:text="${person.id}">Id</td>
                <td th:text="${person.surname}">nom</td>
                <td th:text="${person.givenname}">prenom</td>
                <td th:text="${person.birthday}">naissance</td>
                <td th:text="${person.imagePath}">photoPath</td>
                <!--<td><span th:utext="${person.surname}"></span> <a href="#" th:href="@{'/person/detail/'+${person.id}}">detail</a> </td>-->
                <td><a href="#" th:href="@{'/person/mod/'+${person.id}}" class="edit"><i class="material-icons">edit</i></a> </td>
                <td><a href="#" th:href="@{'/person/delete/'+${person.id}}" class="btn btn-danger">del</a> </td>
                <td><a href="#" th:href="@{'/person/detail/'+${person.id}}" class="btn btn-info">detail</a> </td>
            </tr>
        </table>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>




